<p id="notice"><%= notice %></p>

<h1>Registers</h1>

<table class="table-striped table-hover" width=100%>
  <thead>
    <tr>
      <th>No.</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Gender</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Address</th>
      <th>Town</th>
      <th>Shirt</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% i = 0 %>
    <% @registers.each do |register| %>
      <tr>
        <td><%=  i = i+1 %></td>
        <td><%= register.first_name %></td>
        <td><%= register.last_name %></td>
        <td><%= register.gender %></td>
        <td><%= register.email %></td>
        <td><%= register.phone %></td>
        <td><%= register.adress %></td>
        <td><%= register.kota %></td>
        <td><%= register.shirt %></td>
        <td><%= link_to 'Show', register %></td>
        <td><%= link_to  "Delete", register_path(register), method: :delete,
                            data: {confirm: "Are you sure you want to delete the user"}  %>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Register', new_register_path %>
