<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @register.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @register.last_name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @register.gender %>
</p>

<p>
  <strong>Email:</strong>
  <%= @register.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @register.phone %>
</p>

<p>
  <strong>Shirt:</strong>
  <%= @register.shirt %>
</p>

<%= link_to 'Back', registers_path %>
